In [1]:
!pip install -r requirements.txt

Requirement already satisfied: pip in /opt/app-root/lib/python3.6/site-packages (from -r requirements.txt (line 1)) (20.2.4)
Requirement already satisfied: pandas<1.2.0,>=1.1.5 in /opt/app-root/lib/python3.6/site-packages (from -r requirements.txt (line 2)) (1.1.5)
Requirement already satisfied: numpy==1.19.5 in /opt/app-root/lib/python3.6/site-packages (from -r requirements.txt (line 3)) (1.19.5)
Requirement already satisfied: joblib==1.0.1 in /opt/app-root/lib/python3.6/site-packages (from -r requirements.txt (line 4)) (1.0.1)
Collecting scikit-learn==0.20.3
  Downloading scikit_learn-0.20.3-cp36-cp36m-manylinux1_x86_64.whl (5.4 MB)
     |████████████████████████████████| 5.4 MB 6.0 MB/s eta 0:00:01
Requirement already satisfied: boto3<1.18.0,>=1.17.88 in /opt/app-root/lib/python3.6/site-packages (from -r requirements.txt (line 6)) (1.17.88)
Requirement already satisfied: pytz>=2017.2 in /opt/app-root/lib/python3.6/site-packages (from pandas<1.2.0,>=1.1.5->-r requirements.txt (line 2)) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/app-root/lib/python3.6/site-packages (from pandas<1.2.0,>=1.1.5->-r requirements.txt (line 2)) (2.8.1)
Requirement already satisfied: scipy>=0.13.3 in /opt/app-root/lib/python3.6/site-packages (from scikit-learn==0.20.3->-r requirements.txt (line 5)) (1.5.4)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/app-root/lib/python3.6/site-packages (from boto3<1.18.0,>=1.17.88->-r requirements.txt (line 6)) (0.10.0)
Requirement already satisfied: botocore<1.21.0,>=1.20.88 in /opt/app-root/lib/python3.6/site-packages (from boto3<1.18.0,>=1.17.88->-r requirements.txt (line 6)) (1.20.88)
Requirement already satisfied: s3transfer<0.5.0,>=0.4.0 in /opt/app-root/lib/python3.6/site-packages (from boto3<1.18.0,>=1.17.88->-r requirements.txt (line 6)) (0.4.2)
Requirement already satisfied: six>=1.5 in /opt/app-root/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas<1.2.0,>=1.1.5->-r requirements.txt (line 2)) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/app-root/lib/python3.6/site-packages (from botocore<1.21.0,>=1.20.88->boto3<1.18.0,>=1.17.88->-r requirements.txt (line 6)) (1.25.11)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.24.2
    Uninstalling scikit-learn-0.24.2:
      Successfully uninstalled scikit-learn-0.24.2
Successfully installed scikit-learn-0.20.3
WARNING: You are using pip version 20.2.4; however, version 21.1.2 is available.
You should consider upgrading via the '/opt/app-root/bin/python3.6 -m pip install --upgrade pip' command.

In [2]:
import io
import os
import pandas as pd
import boto3
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from joblib import dump

In [3]:
s3_endpoint_url = os.environ.get('ENDPOINT_URL', 
    "http://s3-rook-ceph.apps.cluster-mlops-4f2f.mlops-4f2f.sandbox1485.opentlc.com")
s3_access_key = os.environ.get('AWS_ACCESS_KEY_ID',
    "DUCLUBW5EOGUTIM5UU83")
s3_secret_key = os.environ.get('AWS_SECRET_ACCESS_KEY',
    "hPSyLCEOfgkY6xPmAPf846n71EEMiNI1YHWyZjyW")
s3_bucket="ccdata-1f48081f-efe6-423e-9381-301a05bafc6c"

In [4]:
s3 = boto3.client(service_name='s3',
                  aws_access_key_id = s3_access_key,
                  aws_secret_access_key = s3_secret_key, 
                  endpoint_url=s3_endpoint_url)

key = "uploaded/creditcard-sample10k.csv"
obj = s3.get_object(Bucket=s3_bucket, Key=key)
df = pd.read_csv(io.BytesIO(obj['Body'].read()))
df.head()

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,10000.0,4999.500000,2886.895680,0.000000,2499.750000,4999.500000,7499.250000,9999.000000
Time,10000.0,5966.033400,4473.403739,0.000000,2072.750000,4563.500000,10233.250000,15012.000000
V1,10000.0,-0.241862,1.521679,-27.670569,-1.013283,-0.372799,1.150864,1.960497
V2,10000.0,0.281949,1.308139,-34.607649,-0.208342,0.288524,0.901879,8.636214
V3,10000.0,0.906270,1.159154,-15.496222,0.412799,0.944361,1.602903,4.101716
V4,10000.0,0.264148,1.441235,-4.657545,-0.614424,0.219861,1.125666,10.463020
V5,10000.0,-0.046398,1.182935,-32.092129,-0.643390,-0.152769,0.371081,34.099309
V6,10000.0,0.133108,1.307311,-23.496714,-0.629934,-0.152566,0.505357,21.393069
V7,10000.0,-0.071689,1.077430,-26.548144,-0.542336,-0.055585,0.476280,34.303177
V8,10000.0,-0.064778,1.259064,-23.632502,-0.190747,0.012865,0.274533,5.060381
V9,10000.0,0.802224,1.155198,-6.329801,0.070868,0.805275,1.506299,10.392889
V10,10000.0,-0.222998,1.093548,-13.193415,-0.688422,-0.340720,0.174295,12.259949
V11,10000.0,0.766066,1.168600,-2.595325,-0.063689,0.746752,1.576540,12.018913
V12,10000.0,-1.272513,1.527660,-17.769143,-2.368115,-1.621015,0.082667,3.774837
V13,10000.0,0.851410,1.213055,-3.389510,-0.017984,0.919134,1.768889,4.465413
V14,10000.0,0.700597,1.239290,-19.214325,0.080400,0.899792,1.499211,5.748734
V15,10000.0,-0.129634,0.975573,-4.152532,-0.709531,-0.010078,0.533501,3.635042
V16,10000.0,-0.007757,0.882057,-12.227189,-0.495536,0.066086,0.547399,4.087802
V17,10000.0,0.318991,0.966392,-18.587366,-0.180029,0.297423,0.782865,7.893393
V18,10000.0,-0.016074,0.794259,-6.920762,-0.450302,0.025225,0.459390,4.115560
V19,10000.0,-0.070415,0.808373,-4.932733,-0.552134,-0.077208,0.442908,4.555359
V20,10000.0,0.027511,0.589994,-13.276034,-0.149981,-0.021415,0.156534,8.012574
V21,10000.0,-0.051990,0.913811,-11.468435,-0.268120,-0.123273,0.032707,22.588989
V22,10000.0,-0.152671,0.631083,-8.527145,-0.549638,-0.136746,0.247490,4.534454
V23,10000.0,-0.033268,0.487814,-15.144340,-0.174120,-0.045794,0.081665,13.876221
V24,10000.0,0.021335,0.594430,-2.512377,-0.327817,0.079976,0.410877,3.200201
V25,10000.0,0.087146,0.428171,-2.577363,-0.158137,0.121001,0.359058,5.525093
V26,10000.0,0.108140,0.562793,-1.338556,-0.327974,0.042865,0.476394,3.517346
V27,10000.0,0.005518,0.410868,-7.976100,-0.084489,-0.004568,0.120811,8.254376
V28,10000.0,0.002915,0.266247,-3.509250,-0.015753,0.015897,0.077182,4.860769
Amount,10000.0,63.030188,184.486158,0.000000,5.000000,15.950000,50.960000,7712.430000
Class,10000.0,0.003800,0.061530,0.000000,0.000000,0.000000,0.000000,1.000000

In [6]:
df.sort_values(by='Time', inplace=True)
df.head()

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
df_train, df_test = train_test_split(df, test_size=0.25, random_state=42)

In [8]:
df_train.head()

,Unnamed: 0,Time,V1,V2,V3,V4,V5,V6,V7,V8,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
4898,4898,4433,-3.214548,2.414530,1.775278,2.496802,-0.667438,3.139886,-3.023012,-7.647035,...,7.484951,-2.195089,0.303258,-1.029468,0.097115,0.475779,0.590518,-0.209970,118.13,0
4373,4373,3764,1.458499,-0.589402,-0.881930,-1.640364,1.487446,3.264101,-1.209634,0.718033,...,-0.296035,-0.882646,0.107318,0.918503,0.367891,-0.505226,-0.014341,0.010290,12.38,0
6698,6698,8336,1.503093,-0.758407,0.895056,-1.148398,-1.492757,-0.827840,-1.054443,-0.351740,...,-0.499065,-0.761000,0.169904,0.324751,0.164308,-0.454799,0.026874,0.027399,15.00,0
9806,9806,14502,1.160784,-0.062247,0.876363,0.156252,-0.545911,-0.033656,-0.583220,0.054058,...,0.018418,0.336434,-0.004692,0.048270,0.120655,1.042019,-0.073513,-0.006754,15.95,0
1100,1100,854,-0.702358,0.547789,1.959636,1.006627,0.710589,-0.050154,0.577878,-0.035783,...,-0.076951,-0.033580,-0.397949,0.004681,0.540328,-0.231578,-0.101319,-0.158310,2.34,0

In [9]:
columns_to_drop = [
    'Unnamed: 0',
    'Time', 
    'Class',
    'V1',
    'V2',
    'V5',
    'V6',
    'V7',
    'V8',
    'V9',
    'V13',
    'V15',
    'V16',
    'V18',
    'V19',
    'V20',
    'V21',
    'V22',
    'V23',
    'V24',
    'V25',
    'V26',
    'V27',
    'V28'
]

features_train = df_train.drop(columns_to_drop, axis=1)
target_train = df_train['Class']

features_test = df_test.drop(columns_to_drop, axis=1)
target_test = df_test['Class']

In [10]:
features_train.head()

,V3,V4,V10,V11,V12,V14,V17,Amount
4898,1.775278,2.496802,1.359456,0.652810,-3.428834,1.822418,0.418965,118.13
4373,-0.881930,-1.640364,0.295794,1.009096,-3.174557,1.405834,0.445189,12.38
6698,0.895056,-1.148398,0.993583,0.805526,-2.460387,0.721602,1.062220,15.00
9806,0.876363,0.156252,-0.409722,2.644035,-1.332120,1.602313,0.293589,15.95
1100,1.959636,1.006627,-0.028617,0.531448,0.178508,0.105988,-0.137982,2.34

In [11]:
features_test.head()

,V3,V4,V10,V11,V12,V14,V17,Amount
6252,1.508090,-0.661771,0.473025,-0.177472,-3.777972,0.543318,1.243794,33.00
4684,3.264284,4.692215,0.408213,-0.185965,-2.248735,1.153470,1.296057,30.37
1731,-0.063052,0.509102,-0.256835,-0.964459,-0.504786,-0.163370,-0.259722,4.26
4742,0.713360,0.849611,-1.204934,0.994228,-2.105498,-0.333460,2.178877,12.31
4521,1.466270,1.858800,0.059441,0.170701,-3.270083,1.654322,1.675876,48.97

In [12]:
model = RandomForestClassifier(n_estimators=200, 
                               max_depth=6, 
                               n_jobs=10,
                               class_weight='balanced')

model.fit(features_train, target_train)
print("Score:", model.score(features_test, target_test))

0.9976

In [13]:
#save mode in filesystem
dump(model, 'model.joblib')

['model.joblib']

In [14]:
key = "uploaded/model/model.joblib"
s3.upload_file(Bucket=s3_bucket, Key=key, Filename="model.joblib")

In [15]:
prefix='uploaded/model/'
result = s3.list_objects(Bucket=s3_bucket, Prefix=prefix, Delimiter='/')
print([obj['Key'] for obj in result['Contents']])

['uploaded/model/model.joblib']